nav{
  /*padding: 0;*/
}
a {
  line-height: 20px;
  color: white;
  text-shadow: 2px 2px 6px #145463;
}

li.nav-item:hover > a{
  /*font-size: 18px;*/
  text-shadow: 3px 3px 4px #133d4c;
}

li.nav-item{
  box-sizing: border-box;
  /*border-bottom: solid 3px transparent;*/
}

li.nav-item:hover{
  /*border-bottom: solid 3px white;*/
}


